@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {
    height: 100%;
    color: #111827;
    font-family: 'Roboto Mono', monospace;
    background: #f9fafb url('../../public/echos.svg') no-repeat center/cover;   
}

button {
    background-color: #111827;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
}

.navbar {
    border-bottom: 1px solid rgba(209, 213, 219, 0.6);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #f9fafbd9;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.5rem;
    display: flex;
}

.navbar a {
    color: #111827;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: #e5e7eb;
    color: #000;
}

.navbar button {
    background-color: #111827;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.3s ease-in-out;
}

.navbar button:hover {
    background-color: #1f2937;
}

.wallet-adapter-button-trigger {
    background: #111827 !important;
    color: white !important;
    border-radius: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    font-family: 'Roboto Mono', monospace !important;
}

.wallet-adapter-dropdown-list,
.wallet-adapter-button {
    font-family: 'Roboto Mono', monospace !important;
}


